.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #cae9ff;
  min-height: calc(100vh - 120px);
}

.App-header {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.018em;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 20px;
  font-family: inherit;
  text-align: center;
  padding-top: 120px;
}

@media screen and (min-width: 1040px) {
  .App-header {
    font-size: 2.125rem;
    font-weight: 700;
    letter-spacing: -0.018em;
    line-height: 1.6;
    margin-bottom: 40px;
    padding-top: 80px;
  }
}
